@import url('common.css');

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');

/*Noto Sans KR*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/*Noto Sans KR*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/*Nanum Gothic*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
body{
    width:100%;
}
.wrap{
    position:relative;
    left:0; top:0;
    width:100%; height: 100vh;
}
header{
    width:100%;
	position:fixed;
	left:0; top:0;
	font-size:0;
	z-index: 100;
}
header a{
    width:10%; 
    position:relative;
    left: 0%; top:0%;
    margin-top:.5%;
}
header a img{
    width:35%;
    opacity:.4;
}
header .menu{
    float: right;
    position:absolute;
    right:.5%;top:10%; 
    display: flex;
    flex-direction: column;
}
header .menu a{
    width:22px; height: 50px;
    opacity: .5;
    font-size: 1.25rem;
}
header .menu a:hover{
    opacity: 1;
}
section{
    position:relative;
    overflow: hidden;
    width:100%; height: 100%;
    background: #061f35 url('../img/twk_bg.png') no-repeat;
    
}
#pro-div{
    width:90%; height: 85%;
    position:absolute;
    left:5%; top:7.5%;
    animation: slide-side 1s;
    /*background:rgba(6,30,53,0.75);*/
    background:rgba(0,53,103,0.2);
    border-radius: 20px;
}
/*@keyframes slide-side{
    0%{opacity:0; transform: translateX(-100%)}
    100%{opacity:1; transform: translateX(0%) }
}*/
#pro-div .left{
    float:left;
    width:27%; height:50%;
    position: absolute;
    left:3.5%;top:12%;
}
#pro-div .left img{
    width:95%;
}
#pro-div .left p{
    width:100%; height: 8.8rem;
    position:absolute;
    left:2%; top:78%;
    white-space: pre-line;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:3.5rem;
    font-weight: 700;
    text-shadow: 3px 2px 7px #fff;
}
#pro-div .left-bottom{
    position: absolute;
    left:2.5%; top:74%;
    width:27%;
}
#pro-div .left-bottom .pro-icon{
    width:100%; height:100%;
    display: flex;
    text-align: center;
}
#pro-div .left-bottom .pro-icon .e-mail{
    width:33.3%; height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pro-div .left-bottom .pro-icon .e-mail h3{
    color:#fff;
    font-size:1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 7%;
    margin-bottom: 12%;
}
#pro-div .left-bottom .pro-icon .e-mail a{
    width:70px; height: 70px;
    margin-bottom: 7%;
    background: rgba(255,255,255,0);
    border:2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    transition: .5;
}
#pro-div .left-bottom .pro-icon .e-mail a:hover{
    background:#1ba7ea;
}
#pro-div .left-bottom .pro-icon .e-mail a img{
    width:60%;
    transform: rotate(-45deg);
}

#pro-div .left-bottom .pro-icon .e-mail span{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
#pro-div .left-bottom .pro-icon .phone{
    width:33.3%; height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pro-div .left-bottom .pro-icon .phone h3{
    color:#fff;
    font-size:1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 7%;
    margin-bottom: 12%;
}
#pro-div .left-bottom .pro-icon .phone a{
    width:70px; height: 70px;
    background: rgba(255,255,255,0);
    border:2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    transition: .5;
}
#pro-div .left-bottom .pro-icon .phone a:hover{
    background:#ff9000;
}

#pro-div .left-bottom .pro-icon .phone a img{
    width: 40%;
    transform: rotate(-45deg);
}
#pro-div .left-bottom .pro-icon .phone span{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    margin-top:20%;
}
#pro-div .left-bottom .pro-icon .github{
    width:33.3%; height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pro-div .left-bottom .pro-icon .github h3{
    color:#fff;
    font-size:1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 7%;
    margin-bottom: 12%;
}
#pro-div .left-bottom .pro-icon .github a{
    width:70px; height: 70px;
    background: rgba(255,255,255,0);
    border:2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    transition: .5;
}
#pro-div .left-bottom .pro-icon .github a:hover{
    background: #69009d;
}
#pro-div .left-bottom .pro-icon .github a img{
    width: 72%;
    transform: rotate(-45deg);
}
#pro-div .left-bottom .pro-icon .github span{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 20%;
}
#pro-div .right{
    float:right;
    width:72%; height: 97%;
    position:absolute;
    left:32%; top:3%;
}
#pro-div .right .r-left-1{
    float:left;
    width:85%; height: 28%;
    margin-left: 2%;
}
#pro-div .right .r-left-1 strong{
    margin-top: 6%;
    font-size:1.6vw;
    color:#fff;
    font-family: 'Roboto', sans-serif;
}
#pro-div .right .r-left-1 span{
    margin-top: 8.5%;
    margin-left: 2%;
    width:128px; height: 4px;
    background: #fff;
    position: absolute;
    left:0;top:0%;
    opacity: .4;
}
#pro-div .right .r-left-1 p{
    color:#fff;
    font-family: 'Nanum Gothic', sans-serif;
    white-space: pre-line;
    font-size:1.2rem;
    line-height: 34px;
    position:absolute;
    left:15%; top:7%;
}
#pro-div .right .r-2{
    width:85%; height:60%;
    float:left;
}
#pro-div .right .r-2 strong{
    margin-top: 2%;
    margin-left: 2%;
    color:#fff;
    font-size:1.6vw;
    font-family: 'Roboto', sans-serif;
}
#pro-div .right .r-2 span{
    margin-top: 8.5%;
    margin-left: 2%;
    width:122px; height: 4px;
    background: #fff;
    position:absolute;
    left:0; top:23%;
    opacity: .4;
}
#pro-div .right .r-2 p{
    color:#fff;
    font-family:'Nanum Gothic', sans-serif;
    white-space: pre-line;
    font-size:1.2rem;
    line-height: 34px;
    position:absolute;
    left:15%;top:30%;
}
#pro-div .right .bottom{
    position: absolute;
    left:0; top:70%;
    width:100%; height: 30%;
}
#pro-div .right .bottom strong{
    font-size:1.5rem;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size:1.5rem;
    margin-top: 2.5%;
    margin-left: 15%;
}
#pro-div .right .bottom ul{
    margin-top: 2.5%;
    display: flex;
}
#pro-div .right ul li{
    margin-left: 0.6%;
    position:relative;
}
#pro-div .right ul li:nth-of-type(1){
    margin-left: 15%;
}
#pro-div .right ul li img{
    width:100%;
}
#pro-div .right ul li p{
    color:#fff;
    text-align: right;
    font-size:1.42rem;
    font-family:'Nanum Gothic', sans-serif;
    position:absolute;
    left:77%;top:10%;
}
#menu{
    width:100%; 100vh;
    position:fixed;
    left:0; top:40%;
    font-weight: 900;
}
#menu .about{
    float:left;
    color:white;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left:2%; top:0%;
    font-size:1rem;
    transform: rotate(-90deg) translateY(-150%);
    border-bottom:2px solid transparent;
    opacity:.5;
}
#menu .about:hover{
    border-bottom:2px solid white;
    opacity:1;
}
#menu .work{
    float:right;
    color:white;
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    right:2%; top:0;
    font-size:1rem;
    transform: rotate(-270deg) translateY(-150%);
    border-bottom:2px solid transparent;
    opacity:.5;
}
#menu .work:hover{
    border-bottom:2px solid white;
    opacity: 1;
}
#contact .contact{
    color:white;
    font-family: 'Open Sans', sans-serif;
    position:fixed;
    left:50%; bottom:1%;
    transform:translate(-50%);
    font-size:1rem;
    font-weight: 900;
    text-align: center;
    border-bottom:2px solid transparent;
    opacity: .5;
}
#contact .contact:hover{
    border-bottom:2px solid white;
    opacity: 1;
}

