@import url('common.css');

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;600&display=swap');

body{
    width:100%;
}
.wrap{
    position:relative;
    left:0; top:0;
    width:100%; height: 100vh;
}
header{
    width:98%;
	position:fixed;
	left:50%; top:0.5%;
	font-size:0;
	z-index: 100;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}
header a{
    position:relative;
    left:0%; top:0%;
    margin-top:.5%;
}
header a img{
    width:60px;
    opacity:.4;
}
header .menu{
    position:fixed;
    right:0%;top:10%; 
    display: flex;
}
header .menu a:hover{
    opacity: 1;
}
header .menu a img{
    opacity:0.65;
    width:25px;
}
header .menu a img:hover{
    opacity: 1;
}

#menu-div{
    position: fixed;
    left:0%; top:-100vh;
    width:100%; height:100vh;
    background: #061e35;
    z-index:110;
    transition: .5s;
}
#menu-div nav{
    margin: 0 auto;
    width:100%; height: 100vh;
    background:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#menu-div nav a{
    color:#fff;
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    line-height: 10rem;
}
#menu-div nav a:hover{
    font-size:4.5rem;
    color:dodgerblue;
    transition: .4s;
}
#menu-div button{
    width:70px;height: 70px;
    position: absolute;
    top:1.5%; right:1.5%;
    cursor: pointer;
    outline-style: none;
    border:none;
    background: none;
}
#menu-div button img{
    width:70%;
}
section{
    position:relative;
    left:0;top:0;
    width:100%; height: 100vh;
    background: #061f35 url('../img/twk_bg.png') no-repeat;
}
#main div{
    width:60%; height: 60%;
    display: flex;
    position:absolute;
    left:50%; top:16.7%;
    transform: translate(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
h1.typing-txt{
    height: 5rem;
    font-family: 'Signika', sans-serif;
    text-align: center;
    position:relative;
    font-size:5rem;
    color:white;
    display: inline-block;
    overflow: hidden;
    animation: typingAni 6s steps(25, end) 1;
    margin-bottom: 12px;
    text-shadow: 5px 2px 5px rgba(255,255,255,0.4);
}
h1.typing-txt::after{
  position:absolute;
  right:0; top:20%;
  display:block;
  content:"";
  width:2px; height:80px;
  border-right: 1px solid rgba(255,255,255,0.3);
  animation: cursor 2s step-end infinite;
}
@keyframes typingAni{
    0%{width:0%}
    100%{width:80%}
}
@keyframes cursor{
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}
}
#main div h2.slideInUP{
    font-family: 'Signika', sans-serif;
    color:white;
    font-size:3rem;
    text-align: center;
    animation: slideInUP 2.5s;
}
#main div p.slideInUP{
    font-size:1.42rem;
    color:white;
    font-family: 'Signika', sans-serif;
    text-align: center;
    animation: slideInUP 3s;
  
}
@keyframes slideInUP{
    0%{transform: translateY(200%)}
    100%{transform: translateY(0%)}
}
#main img{
    width:100%; height: 100vh;
}
.star-twk{
    width:100%; height: 100vh;
    position:absolute;
    left:0; top:0;
    overflow:hidden;
}
.star-twk span:nth-of-type(1){
    position:absolute;
    left:100%; top:-20%;
    animation: star1 20s 2s infinite;
}
.star-twk span:nth-of-type(2){
    position:absolute;
    left:110%; top:-19%;
    animation: star2 20s 2s infinite;
}
.star-twk span:nth-of-type(3){
    position:absolute;
    left:130%; top:27%;
    width:100%; height: 100vh;
    animation: star3 20s 2s infinite;
}
@keyframes star1{
    100%{left:-28%; top:81%;}
}
@keyframes star2{
    100%{left:-28%; top:81%;}
}
@keyframes star3{
    100%{left:-28%; top:81%;}
}
.star-twk span:nth-of-type(4){
    position:absolute;
    left:0%; top:0%;
    animation: blinkle 4s 4s infinite;
    overflow: hidden;
}
@keyframes blinkle{
    0%{opacity: 1;}

    
    100%{opacity: 0;}
}
#menu{
    width:100%; 100vh;
    position:fixed;
    left:0; top:40%;
    font-weight: 900;
}
#menu .about{
    float:left;
    color:white;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left:2%; top:0%;
    font-size:1rem;
    transform: rotate(-90deg) translateY(-150%);
    border-bottom:2px solid transparent;
    opacity:.5;
}
#menu .about:hover{
    border-bottom:2px solid white;
    opacity:1;
}
#menu .work{
    float:right;
    color:white;
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    right:2%; top:0;
    font-size:1rem;
    transform: rotate(-270deg) translateY(-150%);
    border-bottom:2px solid transparent;
    opacity:.5;
}
#menu .work:hover{
    border-bottom:2px solid white;
    opacity: 1;
}
#contact .contact{
    color:white;
    font-family: 'Open Sans', sans-serif;
    position:fixed;
    left:50%; bottom:1%;
    transform:translate(-50%);
    font-size:1rem;
    font-weight: 900;
    text-align: center;
    border-bottom:2px solid transparent;
    opacity: .5;
}
#contact .contact:hover{
    border-bottom:2px solid white;
    opacity: 1;
}


/*==============1400=================*/
