@import url('common.css');

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;600&display=swap');

/*Nanum Gothic*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    width:100%;
}
.wrap{
    position:relative;
    left:0; top:0;
    width:100%; height: 100vh;
}
header{
    width:100%;
	position:fixed;
	left:0; top:0;
	font-size:0;
	z-index: 100;
}
header a{
    width:10%; 
    position:relative;
    left: 0%; top:0%;
    margin-top:.5%;
}
header a img{
    width:35%;
    opacity:.4;
}
header .menu{
    float: right;
    position:absolute;
    right:.5%;top:10%; 
    display: flex;
    flex-direction: column;
}
header .menu a{
    width:22px; height: 50px;
    opacity: .5;
    font-size: 1.25rem;
}
header .menu a:hover{
    opacity: 1;
}
section{
    position:relative;
    left:0;top:0;
    width:100%; height: 100vh;
}
#content-worklist{
    width:100%; height: 100%;
    position:relative;
    left:0; top:0;
}
#content-worklist .bg{
    position:absolute;
    left:0; top:0;
    z-index:-1;
}
#content-worklist .bg img{
    width:100%;
}
#content-worklist .img-product{
    width:52%;
    margin:0 auto;
    text-align:center;
    padding-top:17.5vh;
}
#content-worklist .img-product img{
    width:100%; height: 100%;
    margin-bottom: 1.5%;
}
#content-worklist .img-product a{
    padding:7px 50px;
    background: #975aa1;
    color:white;
    font-size:1.25rem;
    font-family: 'Open Sans', sans-serif;
}
#content-worklist .img-product a:hover{
    transform: scale(1.05);
}
#content-worklist .project-txt{
    width:50%; 
    white-space: pre-line;
    padding: 2px;
    margin:1.5% auto;
}
#content-worklist .project-txt em{
    font-size:1rem;
    font-weight: 900;
    font-family: 'Nanum Gothic', sans-serif;
}
#content-worklist .project-txt strong{
    font-size:2.2rem;
    font-family: 'Poppins', sans-serif;
    display:block;
    line-height:1.4;
}

#content-worklist .project-txt .left-arrow{
    color:white;
    background: #b6b6b6;
    font-size:1.4rem;
    line-height:1;
    font-weight: 900;
    vertical-align:middle;
    margin-left:50px;   
    padding:4px 0 6px 0;
}
#content-worklist .project-txt .right-arrow{
    color:white;
    background: #b6b6b6;
    line-height:1;
    font-size:1.4rem;
    font-weight: 900;
    vertical-align:middle;
    padding:4px 0 6px 0;
}
#content-worklist .project-txt p{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 900;
    font-size:1rem;
    line-height:1.8;
    margin-top:1%;
}
#content-worklist .detail-project{
    width:80%; 
    position:relative;
    left:10%; top:0%;
    background: #061e35;
    border-radius: 10px;
    overflow: hidden;
}
#content-worklist .detail-project strong{
    display: block;
    font-size:2rem;
    font-family: 'Poppins', sans-serif;
    color:white;
    white-space: pre-line;
    text-align: center;
    margin-top:3.5%;
}
#content-worklist .detail-project strong img{
    vertical-align:middle;
}
#content-worklist .detail-project .left{
    float:left;
    width:45%;
    margin-top: 2%;
}
#content-worklist .detail-project .left p{
    color:white;
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
    text-align: center;
}
#content-worklist .detail-project .left img{
    width:90%;
    margin-left: 10%;
}

#content-worklist .detail-project .right{
    float:right;
    width:45%;
    margin-top: 2%;
}
#content-worklist .detail-project .right p{
    color:white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-right: 10%;
}
#content-worklist .detail-project .right img{
    width:90%;
    margin-bottom: 10%;
}
/*----------*/
#menu{
    width:100%; 100vh;
    position:fixed;
    left:0; top:40%;
    font-weight: 900;
}
#menu .about{
    float:left;
    color:#dadee1;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left:2%; top:0%;
    font-size:1rem;
    transform: rotate(-90deg) translateY(-150%);
    border-bottom:2px solid transparent;
    opacity:.8;
}
#menu .about:hover{
    border-bottom:2px solid #dadee1;
    opacity:1;
}
#menu .work{
    float:right;
    color:#dadee1;
    font-family: 'Open Sans', sans-serif;
    position:absolute;
    right:2%; top:0;
    font-size:1rem;
    transform: rotate(-270deg) translateY(-150%);
    border-bottom:2px solid transparent;
    opacity:.8;
}
#menu .work:hover{
    border-bottom:2px solid #dadee1;
    opacity: 1;
}
#contact .contact{
    color:#dadee1;
    font-family: 'Open Sans', sans-serif;
    position:fixed;
    left:50%; bottom:1%;
    transform:translate(-50%);
    font-size:1rem;
    font-weight: 900;
    text-align: center;
    border-bottom:2px solid transparent;
    opacity: .8;
}
#contact .contact:hover{
    border-bottom:2px solid #dadee1;
    opacity: 1;
}

/*==============1400=================*/


@media (max-width:1400px){
    #main div h1{
        font-size: 4.2rem;
    }
}
